html {
	background-color: lightgrey;
	font-size: 20px;
	font-family: 'Verdana';
	text-align: center;
}

.heading {
    font-size: 50px;
    font-weight: 900;
    color: white;
    padding: 20px;
    background-color: grey;
}

#wikiLogo {
	padding-right: 10%;
	padding-bottom: 7%;

	margin: -10%;
	left: 20%;
	top: 0%;
	height: auto;
	width: auto;
	max-height: 10%;
	max-width: 10%;
}

/* Initial State of the Page */
.squishedSearchBar {
 	background: lightgrey !important;
	width: 40px !important; /* Important overrides the id properties of the element */
	cursor: pointer !important; /* Makes the cursor a hand when hovered over */
}
.initiallyHidden {
	visibility: hidden !important;
}
.centeredCross {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centeredSearchBar {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#magnifyingGlassStick {
	position: fixed;
	top: 52%;
	left: 49.5%;
	transform: translate(-50%, -50%);
	transform: rotate(45deg);
	background: orange;
	height: 8px;
	width: 50px;
	border-radius: 10px;
	transition: all 0.7s;
}
#clicktostartsearch {
	position: relative;
	top: 100px;
	font-size: 25px;

}

/* Standard Page */
#searchBar {
	width: 400px;
	height: 40px;
	font-size: 20px;
	text-align: center;
	border: 6px solid orange;
	border-radius: 40px;
	transition: all 0.7s;
}
#searchBar:focus { /* Removes the default blue glowing border around text-input area */
	outline: none;
}


#searchResults {
	height: 10%;
	width: 78%;
	text-align: left;
	list-style: none;
	margin: 0 auto;
	opacity: 0;
}
#searchResults li {
	background-color: white;
	border: 8px solid white;
	padding: 0.5%;
	margin: 1%;
}
#searchResults .title {
	font-weight: bold;
}
#searchResults li:hover {
	border-left: 8px solid orange;
}
a {
	color: black;
	text-decoration: none;
}
a:focus {
	transform: scale(0.9);
}



